<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', path='/css/styles.css') }}" rel="stylesheet">
    <title>First info</title>
</head>
<body>
    <div class="main">
        <h2>Login</h2>
        <form method="get" id="checkForm" onsubmit="send()">
            <p class="textField" id="emailText"><span>Email:</span></p>
            <input type="text" id="username" name="username" required oninput="check()">
            <p class="textField" id="passwordText">Password:</p>
            <input type="password" id="password" name="password" required>
            <input type="submit" value="Login">
        </form>
        <div id="response"></div>
        <button onclick="window.location.href='/'">На главную</button>
        <button onclick="window.location.href='/register/'">Регистрация</button>
    </div>

    <script defer>
        const form = document.querySelector('#checkForm')
        form.addEventListener('submit', function(e) {e.preventDefault()})
        let cook = document.cookie;
        let str = cook.split('; ');
        let cookieObject = {};
        let curr;
        for (let i = 0; i < str.length; ++i) {
            curr = str[i].split('=');
            cookieObject[curr[0]] = curr[1];
        }
        async function check() {
            let checkMail = document.querySelector("#username").value
            if (checkMail in cookieObject) {
                token = cookieObject[checkMail]
                await fetch("/auth/me/", {
                    method: "GET",
                    headers: {
                        Authorization: `Bearer ${token}`,  
                      }
                })
                .then((response) => response.json())
                .then((user) => window.location.href = '/users/' + user['user'])
                
            }
        }
        async function send(){
            let checkMail = document.querySelector("#username").value
            let response = await fetch("/auth/token/", {
                method: "POST",
                body: new FormData(checkForm)
            })
            if (response.ok) {
                window.location.href = '/users/' + checkMail;
            }
        }

    </script>
</body>
</html>