<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', path='/css/styles.css') }}" rel="stylesheet">
    <title>Start page</title>
</head>
<body>
    <div class="main">
        <h1>Welcome, {{ context[0].email }}</h1>
        <form method="POST" id="testForm" onsubmit="sendtest()">
            <p class="textField"><span>Email:</span>
                <input type="textField" id="email" name="email" value='{{context[0].email}}'>
            </p>

            <!-- {%for i  in range (1,6)%}
                <hr>
                {%for key, value in context[i].items()%}
                    <p><b>{{key}}:</b></p>
                
                    {%for k, v in value.items()%}
                        <input type="checkbox" name="{{key}}" value="{{k}}"/>
                        <label for="{{key}}">{{v}}</label>
                    {%endfor%}

                {%endfor%}
            {%endfor%} -->
            {%for i  in range (1,6)%}
                <hr>
                {%for key, value in context[i].items()%}
                    <fieldset>
                        <legend><b>{{key}}:</b></legend>
                    
                        {%for k, v in value.items()%}
                            <input type="radio" name="{{key}}" value="{{k}}"/>
                            <label for="{{key}}">{{v}}</label>
                        {%endfor%}
                    </fieldset>
                {%endfor%}
               
            {%endfor%}
            <br>
            <input type="submit" value="Submit">
        </form>

    </div>

    <script defer>
        async function sendtest(){
            let response = await fetch("/test/add/", {
                method: "POST",
                body: new FormData(testForm)
            })
            if (response.ok) {
                let url = '/start/' + '{{context[0].email}}'
                window.location.href = url;
            }
        }
    </script>
</body>
</html>