<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', path='/css/styles.css') }}" rel="stylesheet">
    <title>Start page</title>
</head>
<body>
    <div class="main">
        <h1>Welcome, {{ context.email }}</h1>
    
        <form method="POST" id="testForm" onsubmit="sendtest()">
            <p class="textField"><span>Email:</span></p>
            <input type="textField" id="email" name="email" value='{{context.email}}'>

            {% for index in range(1, 6) %}
                <p class="textField"><span>{{context[loop.index]}}:</span></p>
                <input type="textField" id="{{context[loop.index]}}" name="{{context[loop.index]}}">
            {% endfor %}
            <br>
            <input type="submit" value="Submit">
        </form>

    </div>

    <script defer>
        async function sendtest(){
            let response = await fetch("/test/add/", {
                method: "POST",
                body: new FormData(testForm)
            })
            if (response.ok) {
                let url = '/start/' + '{{context.email}}'
                window.location.href = url;
            }
        }
    </script>
</body>
</html>