<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', path='/css/styles.css') }}" rel="stylesheet">
    <title>Users</title>
</head>

<body>
    <h1 style="text-align: center;">Tasks</h1>
    <h2 style="text-align: center";>Список тестов пользователя <p id="user">{{ context.email }}</p></h2>
        <!-- {{context.tests[0].questionsanswers[0].question}} -->
    
    {%for test in context.tests%}
    <hr>
         <table>
            <tbody>
                <tr>
                    <th colspan = '2'>Тест {{test.id}}</th>
                </tr>
                <tr>
                    <th>Вопрос</th>
                    <th>Ответ</th>
                    {%for questionsanswer in test.questionsanswers%}
                    <tr>
                        <td class="task">{{questionsanswer.question}}</td>
                        <td class="describe">{{questionsanswer.answer}}</td>
                    </tr>    
                    {%endfor%}
                </tr>
            </tbody>
        </table>
            {%endfor%}
     <hr>
    
    <div class="div" style="margin: auto;">
        <button class="button" onclick="window.location.href='/'">На главную</button>
    </div>

    
    <script defer>
    </script>
</body>
</html>